li {
    border: 1px solid black;
    padding: 15px;
    list-style: none;
    width: 265px;
    text-align: center;
  }

  
button {
    border: 1px solid black;
    color:white;
    background-color:black;
    padding: 15px;
    list-style: none;
    width: 265px;
  }